# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# coverage
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# build-time generated assets
public/pagefind/
public/img/
content/

# translation cache
.translate-cache.json
