{
  "printWidth": 100,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "overrides": [
    {
      "files": "*.canvas",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.base",
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
