@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-day: #ffffff;

  --color-night: #18181b;

  --font-sans:
    'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', 'Noto Sans CJK SC',
    'Noto Sans SC';
  --font-serif:
    'Source Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif,
    'Noto Serif CJK SC', 'Noto Serif SC';
  --font-no-emoji:
    'IBM Plex Sans', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
